.collection-2018 {
    &__poster {
        background: url('../img/3-collection-2018__img.jpg') 0 center /cover;
    }

    @include media-breakpoint-down(lg) {
        &__poster {
            display: none;
        }
      }

    &__content {
        padding: 100px 20px;

        h2 {
            font-weight: 400;
            margin-bottom: 80px;

            &::after {
                bottom: -40px;
            }
        }

        p {
            font-size: rem(14px);
        }

        a {
            max-width: 375px;
            display: block;
            margin: 0 auto;
        }
    }
}