//Font sizes
$default_font_size: 14px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1150px,
        xxl: 1400px
);

// Colors
$bg_black: #000000;
$bg_light_black: #191B1C;
$bg_dark: #0F0F0F;
$bg_light_dark: #1F1F1F;
$text_gray: #969696;
$bg_input: rgba(255, 255, 255, 0.4)