@font-face {
  font-family: "Play fair Display", sans-serif;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("ttf");
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.svg") format("svg");
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.woff") format("woff");
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("ttf");
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.svg") format("svg");
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "PT sans", sans-serif;
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("ttf");
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Oxygen, sans-serif;
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf") format("ttf");
  src: url("../fonts/Oxygen/Oxygen-Bold.svg") format("svg");
  src: url("../fonts/Oxygen/Oxygen-Bold.woff") format("woff");
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf") format("ttf");
  src: url("../fonts/Oxygen/Oxygen-Regular.svg") format("svg");
  src: url("../fonts/Oxygen/Oxygen-Regular.woff") format("woff");
}