@font-face {
  font-family: "Play fair Display", sans-serif;
  src: url("../fonts/Play_Display/PlayDisplay-Bold.ttf") format("ttf");
  src: url("../fonts/Play_Display/PlayDisplay-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "PT sans", sans-serif;
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("ttf");
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("ttf");
}