@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

// @font-face {
//   font-family: 'Playfair Display', serif;
//   src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("ttf");
//   src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("ttf");
// }

@font-face {
  font-family: "PT sans", sans-serif;
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("ttf");
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("ttf");
}